#contact-info {
    text-align:center;
}

.contact-img {
    width:10%;
    margin-right: 10px;
}

#contact-ul {
    text-align: left;
    display:inline-block;
    margin: 20px auto 50px;
}

.contact-li {
    margin-top: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}

#footer-title {
    border: solid rgb(0, 0, 0);
    border-width:  2px 0 2px 0 ;
    padding:20px;
}

#footer-title h2{
    margin:0;
}



@media only screen and (min-width: 520px) {
    .contact-img {
        width:5%;
    }
}

@media only screen and (min-width: 800px) {

    .contact-img {
        width:10%;
    }

    .contact-li {
        width: 33%;
        margin:0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #contact-ul {
        display:flex;
        padding: 0;
        justify-content: space-around;
    }

}

@media only screen and (min-width: 1200px) {

    .contact-img {
        width:5%;
    }
}